.home-container {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  height: 165px;
  width: 100%;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 142px;
}

.image .download {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.label {
  height: 45px;
}

.label .text-wrapper {
  color: #ffffff;
  font-family: "Comic Sans MS-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  margin-top: 185px;
  
}

.box1 .rectangle1 {
  background-color: #b3b3b3;
  box-shadow: 0px 4px 4px #00000080;
  height: 375px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.character-of-the-day {
  text-align: center;
  width: 100%;
}

.character-of-the-day img {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}

@media screen and (max-width: 1920px) {
  .home-container {
    max-width: 100%;
  }
}